.containerSidebar {
  width: 295px;
  height: auto;
  border: 2px solid #777676a4;
  position: relative;
}

.user-sidebar {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.fa-user-circle {
  font-size: 40px;
}

.p-user {
  font-size: 25px;
  font-weight: bold;
  color: #022873;
  margin-left: 15px;
}
/*-- lateral quando o hamburguer abrir --*/
.sidebar {
  position: fixed;
  top: 0;
  right: -10px;
  width: 300px;
  height: auto;
  background-color: #f1f1f1;
  transition: left 0.3s ease;
  }
  
.show {
  left: 0;
}

.user-sidebar {
  background-color: transparent;
  border: none;
  margin: 0 40px;
  display: flex;
  align-items: center;
}

/*botoes de arquivos*/
.file {
  display: flex;
  flex-direction: column;
}

.file .files {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 300px;
  background-color: transparent;
  border: none;
}

.file .files i {
  margin-left: 40px;
  margin-right: 10px;
  font-size: 40px;
}

.p-file {
  font-weight: lighter;
  font-size: 20px;
  color: #888888;
  margin-left: 15px;
}

.fa-clock {
  margin: 15px 0 10px;
}

.btn-newfile, .btn-newsquad {
  background: #ffffff;
  border: 1.8px solid #000000;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 40px;
}

.btn-newfile{
  width: 180px;
  margin: 25px auto 20px;
}

.btn-new p {
  font-weight: normal;
  font-size: 18px;
}

.btn-newfile .fa-plus {
  margin-right: 8px;
}

/*arquivos favoritos*/
.label-group-sidebar {
  margin-top: 30px;
  height: 200px;
}

.select-sidebar {
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #888888;
  font-weight: bold;
  margin-left: 40px;
}

.label-group-sidebar i{
  font-size: 15px;
}

.p-sidebar {
  width: 220px;
  font-weight: lighter;
  font-size: 18px;
  color: #888888;
  text-align: left;
  margin-left: 40px;
}

/*Equipes*/
.btn-newsquad {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 100px auto;
}

.btn-newsquad p {
font-weight: normal;
font-size: 18px;
margin: 0 5px;
}

.btn-newsquad .fa-plus {
  margin-left: 8px;
}

/*Lixeira*/
.lixeira {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 30px;
  height: 50px;
}

.lix-sidebar{
  color: black;
}

.p-lixeira{
  color: #9f2a2a;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}

.img{
  height: 250px;
  display: flex;
  justify-content: flex-end;
}

.img img{
  width: 200px;
  margin: 0 auto 20px;
}

/*Hover - botões*/
.files:hover{
  background-color: #dadadadf;
  width: 100%;
}

.p-file:hover, .label-group select:hover, .fa-star:hover, .fa-trash:hover{
  color: #494949;
}

.estrela-card:hover{
  color: yellow;
}

.files:hover, .p-file:hover, .btn-newfile:hover, .btn-newsquad:hover, .label-group select:hover, .p-lixeira:hover, .fa-star:hover, .fa-trash:hover{
  transition: all 0.8s ease;
}

.btn-newfile:hover, .btn-newsquad:hover{
  background-color:  #4150707f;
}

.p-lixeira:hover, .fa-times-circle:hover{
  color: #ad0303;
  transition: color 0.8s ease;
}

/*Outras formatações sidebar*/
.sidebar {
  position: absolute;
  left: -300px;
}

.content {
  padding: 20px;
  position: absolute;
  left: 200px;
  width: 100px;
}

.open-btn {
  display: block;
  margin-left: 100px;
  background-color: transparent;
  border: none;
}

.close-btn {
  margin-left: 255px;
  margin-top: 5px;
  color: #070707;
  background-color: transparent;
  width: 0;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

