@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.gridContainer{
    height: 100%;
    width: 100%;
    background: #bdbdd6;
}

.gridItem{
    background: #999;
}

/*GRID*/
.gridContainer{
    display: grid;
    grid-template-columns: 30% 70% ; /* respectivos valores da largura de cada coluna */
    grid-template-rows: 100vh; /* respectivos valores da altura de cada linha*/
}

.gridItem:nth-child(1){
    background-image: url(../images/fundo_laranja.jpeg);
    background-repeat: no-repeat;
    grid-row: 1/-1;
}

.gridItem:nth-child(2){
    background: #FFFFFF;
    grid-row: 1/4;
    grid-column: 2/4;
    color: black;
}

.space-1 img{
    width: 100%;
    height: 200px;
}

.space-2 h1{
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 54px;
    text-align: center;
    color: #022873;
}

.space-1 h1{
    text-align: center;
    font-weight: bold;
    color: #022873;
}

.space-1 img{
    margin-left: 20px;
    margin-top: 50px;
    width: 80%;
}

p{
    color: #FFFFFF;
    text-align: center;
}

fieldset {
    width: 80%; /* Ajuste o valor de acordo com o seu layout */
    margin: 0 auto;
    border-color: transparent;
    height: 140px;
}

label{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    color: #888888;
    font-weight: bold;
}

form{
    background-color: transparent;
    width: 45%;
    height: 40vh;
    margin: 0 auto;
}

#email, #password{
    margin-bottom: 30px;
    background: #BFBFBF;
    width: 100%; /* Altere para usar uma porcentagem ou vw */
    max-width: 350px; /* Adicione um limite máximo para evitar que fiquem muito grandes */
    height: 35px;
    border: 2px solid #8B949E;
    border-radius: 6px;
}

#email::placeholder{
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
}

a{
    text-decoration: none;
    padding-left: 140px;
    color: #022873;
    font-weight: bold;
    font-size: 12px;
}

input[type="checkbox"]{
    margin-bottom: 35px;
}

/*.remember{
    font-size: 40px;
    color: #022873;
}*/

.btn-entrar{
    margin: 0 auto;
    display: block;
    width: 133px;
    height: 39px;
    background: #F19F06;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    text-transform: uppercase;
}

/*.hr-separator {
    margin-top: 160px;
    width: 55%;
}

.hr-separator::after{
    width: 150px;
    padding: 0 0 0 15px;
    background: #FFFFFF;
    position: absolute;
    top: 433px;
    left: 790px;
    content: "Entre ou crie com";
}
*/

/* min-width */


@media screen and (max-width: 120em) {
    a{
        margin-left: 140px; 
    }
}

@media screen and (min-width: 40em) {
    a{
        padding-left: 10px; 
    }
}
