.pass-min{
    margin-top: -15px;
}


input[type="checkbox"]{
    margin-top: 10px;
    margin-bottom: 35px;
}

.outher_login {
    margin-top: 45vh;
    margin-bottom: 20px;
    position: relative;
}

#enter{
    color: #022873;
}

#enter a:visited{
    color: #022873;
}

.politicas{
    width: 650px;
    text-align: center;
}

#create{
    text-transform: none;
}

.outher_login hr::after{
    content: "ou continuar com";
    width: 145px;
    left: 385px;
    padding-left: 25px;
}
