@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.gridContainer{
    height: 100%;
    width: 100%;
    background: #bdbdd6;
}

.gridItem{
    background: #999;
}

/*GRID*/
.gridContainer{
    display: grid;
    grid-template-columns: 30% 70% ; /* respectivos valores da largura de cada coluna */
    grid-template-rows: 100%; /* respectivos valores da altura de cada linha*/
}

.gridItem:nth-child(1){
    background-image: url(../images/fundo_laranja.jpeg);
    background-repeat: no-repeat;
    grid-row: 1/-1;
}

.gridItem:nth-child(2){
    background: #FFFFFF;
    grid-row: 1/4;
    grid-column: 2/4;
    color: black;
}

/*filho 1 - lateral*/
.space-1 img{
    margin-left: -15px;
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

.space-1 h1{
    text-align: center;
    font-weight: bold;
    color: #022873;
}

.space-1 p{
    color: #FFFFFF;
    text-align: center;
}

/*filho 2 - form*/
.space-2 h1{
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 44px;
    text-align: center;
    color: #022873;
}

fieldset {
    width: 80%; /* Ajuste o valor de acordo com o seu layout */
    margin: 0 auto;
    border-color: transparent;
    height: 140px;
}

label{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    color: #888888;
    font-weight: bold;
}

form{
    background-color: transparent;
    width: 45%;
    height: 40vh;
    margin: 0 auto;
}

#email, #password, #username{
    margin-top: 10px;
    margin-bottom: 15px;
    background: #BFBFBF;
    width: 100%; /* Altere para usar uma porcentagem ou vw */
    max-width: 350px; /* Adicione um limite máximo para evitar que fiquem muito grandes */
    height: 35px;
    border: 2px solid #8B949E;
    border-radius: 6px;
}

#email::placeholder , #password::placeholder{
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
}

label a{
    text-decoration: none;
    margin-left: 160px;
    color: #022873;
    font-weight: bold;
    font-size: 12px;
}

label a:hover{
    text-decoration: underline;
    transition: all 0.8s ease;
}

input[type="checkbox"]{
    margin-bottom: 35px;
}

.btn-entrar{
    margin: 0 auto;
    display: block;
    width: 133px;
    height: 39px;
    background: #F19F06;
    box-shadow: 1px 5px 5px rgb(139, 138, 138);
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.password-toggle {
    position: absolute;
    top: 49%;
    right: 310px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-image: url("/images/visibility_off_FILL0_wght400_GRAD0_opsz48.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.password-toggle:active {
    background-image: url("/images/visibility_FILL0_wght400_GRAD0_opsz48.png");
}


.btn-hover:hover{
    cursor: pointer;
    background-color: #fea500;
    transition: all 0.4s ease;
}

/*div entrar com Google*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.outher_login {
    margin-top: 30.5vh;
    margin-bottom: 20px;
    position: relative;
}
  
  .outher_login p {
    color: #888888;
    font-weight: bold;
  }
  
  .outher_login hr {
    width: 450px;
    margin-bottom: 30px;
  }

  .outher_login hr::after{
    content: "Crie ou entre com";
    position: absolute;
    top: -2px;
    left: 390px;
    color: #888888;
    background-color: #FFFFFF;
    width: 140px;
    padding: 0 15px;
  }

  .btn-cadastre{
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 5px 5px rgb(139, 138, 138);
    width: 133px;
    height: 32px;
    background: #F19F06;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
  }

  .google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 5px 5px rgb(139, 138, 138);
    color: #888888;
    cursor: pointer;
  }

  .google-button:hover{
    width: 132px;
    background-color: #bbd2f644;
    transition: all 0.3s ease-in;
  }

  .google-button img{
    width: 20px;
    height: 20px;
  }
/*tratando responsividade*/
  @media screen and (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 100%; /* Altera para uma única coluna */
        grid-template-rows: auto; /* Remove a altura fixa */
    }

    .space-1 img {
        width: 80%;
        margin-left: 35px;
    }

    .gridItem:nth-child(2) {
        grid-row: 2; /* Posiciona o elemento na segunda linha */
        grid-column: 1; /* Posiciona o elemento na primeira coluna */
    }

    .space-2 {
        padding: 20px; /* Adiciona espaço interno */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    form {
        width: 80%; /* Ajusta a largura do formulário */
        margin: 0 auto; /* Centraliza horizontalmente */
    }

    fieldset {
        margin: 0;
    }

    .outher_login hr::after {
        content: "Crie ou entre com";
        position: absolute;
        top: -2px;
        left: 210px;
        color: #888888;
        background-color: #FFFFFF;
        width: 140px;
        padding: 0 15px;
    }
}
