@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/*GRID*/
.gridContainer {
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr);
  grid-template-rows: 200px 190px auto;
  width: 100%;
  height: 100%;
  background: #bdbdd6;
}

.gridItem {
  background: #999;
  font-size: 2em;
}

.gridItem:nth-child(1) {
  background: #02287394;
  grid-row: 1/2; /*linha*/
  grid-column: 1/4; /*coluna*/
}

.gridItem:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #EAEAEA;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.gridItem:nth-child(3) {
  color: black;
  background: #f6f6f6;
  grid-column: 1/-1;
}
/*Item 1 - nav*/
.navBar {
  display: flex;
  align-items: center;
  box-shadow: 0 0 50px black;
}

.user{
  margin: 0 60px;
}

.lupa, .user{
  color: #FFFFFF;

}

.p-navbar {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

.fa-bars {
  color: #FFFFFF;
  font-size: 30px;
}

.hamburguer:hover, .lupa:hover, .user:hover{
    cursor: pointer;
    color: #c9c3f7;
    transition: color .6s ease-in-out;
}

/*Item 2 - header*/
.btn-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 267px;
  height: 145px;
  background: rgba(241, 159, 6, 0.95);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin: 0 40px;
  font-size: 25px;
  font-weight: bold;
  color: #f6f6f6;
}

.fa-project-diagram,
.fa-folder {
  font-size: 50px;
  color: black;
}

.fold {
  background-color: #d9d9d9;
}

.fold:hover {
  cursor: pointer;
  background-color: #cecece;
  transition: all 0.6s ease;
}

.diagram:hover {
  background-color: rgba(255, 166, 0, 0.95);
  cursor: pointer;
  transition: all 0.6s ease;
}

/*Item 3 - corpo*/
.label-group {
  margin-top: 40px;
}

.label-page {
  margin-left: 60px;
  margin-right: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #888888;
}

.select {
  background: #f6f6f6;
  border: 0;
  font-size: 15px;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.custom-button {
  margin-left: 500px;
  padding: 0 10px;
  background-color: transparent;
  height: 23px;
  border: 1px solid black;
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #a6aba7;
}

.fa-folder-plus {
  margin-right: 5px;
}

.fa-folder-download {
  font-size: 16px;
}

.hr-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.hr-page {
  margin-left: 32px;
  width: 100%;
  max-width: 1242px; 
}

/*Grid Arquivos*/
.gridContainerArquivos {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gridItemArquivos {
  display: flex;
  align-items: flex-end;
  width: 500px;
  height: 300px;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  border-radius: 5px;
}

.fileCapition{
  width: 100%;
  height: 60px;
  background: #F6F6F6;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.diagram-caption{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 25px;
}

.title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 230px;
}

h1, .p-title{
  margin: 0;
}

h1{
  font-size: 15px;
}

.p-title{
 font-size: 11px;
 font-weight: lighter;
}

.icons{
  display: flex;
  justify-content: space-around;
  width: 60px;
  font-size: 20px;
}

.btnStar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.fa-star:hover{
  color: rgb(221, 221, 4);
  transition: color .3s ease;
}

.fa-ellipsis-v:hover{
  color: #022873;
  transition: color .3s ease;
}

.selected {
  color: yellow ;
}

.btnOptions {
  display: inline-block;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  border: 1px solid #ccc;
  display: none;
}

.btnOptions:hover .options {
  display: block;
}

.option {
  background-color: #e1e0e0;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.optUm{
  margin-bottom: 2px;
}

.option:hover{
  background-color: #ccc;
}

.fa-trash-alt{
  margin: 5px;
  color: red;
}

.fa-info-circle{
  margin: 5px;
  color: #022873;
}