.containerSidebar-user {
    width: 295px;
    height: auto;
    border: 2px solid #777676a4;
    position: relative;
}

.user-sidebar { /*container*/
    background-color: transparent;
    border: none;
    margin: 0 40px;
    display: flex;
    align-items: center;
}

.close-btn-user {
    margin-top: 5px;
    color: #070707;
    background-color: transparent;
    width: 0;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.p-sidebar-user { /*texto ao lado dos ícones*/
    font-weight: lighter;
    font-size: 16px;
    color: #888888;
    text-align: left;
    margin-left: 20px;
}

.btn-settings {
    background: #ffffff;
    border: 1.8px solid #000000;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 40px;
    width: 180px;
    margin: 25px auto 20px;
}
/* lateral quando o hamburguer abrir*/
.sidebar-user {
    width: 300px;
    height: auto;
    left: -310px;
    background-color: #f1f1f1;
    transition: right 0.8s ease;
    position: absolute;
    top: 0;
}

.fa-cog{
    padding: 7px;
}

.fa-user-circle, .fa-pencil-alt {
    font-size: 30px;
}

.files .user{ /*mudando cor do icone - deixando preto*/
    color: black;
}

/*Hover - botões*/
.files:hover {
    background-color: #dadadadf;
    width: 100%;
}

.p-sidebar-user:hover {
    color: #494949;
}

.files:hover,
.p-sidebar-user:hover,
.btn-settings:hover {
    transition: all 0.8s ease;
}

.btn-settings:hover {
    background-color: #4150707f;
}
